body {
  margin:0 auto;
  font-family:'Poppins', sans-serif;
}

code {
  font-family: 'Poppins', sans-serif;
}

/* CAROUSEL SLIDER STYLES */

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: #fff;
}
