/* .profile-settings,
.profile-settings * {
  box-sizing: border-box;
}

.profile-settings {
  background: #f5f5f5;
  width: 1440px;
  height: 1138px;
  position: relative;
  overflow: hidden;
}

.rectangle-289 {
  background: rgba(222, 61, 109, 0.1);
  width: 1440px;
  height: 271px;
  position: absolute;
  left: 0px;
  top: 96px;
}

.frame-8754 {
  background: #ffffff;
  border: solid #d9d9d9;
  border-width: 1px;
  padding: 60px 160px 60px 160px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 400px;
  top: 176px;
}

.frame-8589 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.larkef-x-rareblocks-_-logo--31-1 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.airtime2cash {
  text-align: left;
  font: 600 16px "Inter";
  position: relative;
}

.airtime2cash-span {
  color: #de3d6d;
  font: 600 16px "Inter";
}

.airtime2cash-span2 {
  color: #f5844c;
  font: 600 16px "Inter";
}

.frame-8753 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.basic-information {
  color: #21334f;
  text-align: left;
  font: 700 18px "Inter";
  position: relative;
}

.frame-8752 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-8751 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.first-name {
  color: #21334f;
  text-align: left;
  font: 400 12px "Inter";
  position: relative;
}

.frame-2 {
  background: #ffffff;
  border: solid #d9d9d9;
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 320px;
  height: 48px;
  position: relative;
}

.enter-your-first-name {
  color: #c4c4c4;
  text-align: left;
  font: 400 12px "Inter";
  position: relative;
}

.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.last-name {
  color: #21334f;
  text-align: left;
  font: 400 12px "Inter";
  position: relative;
}

.enter-your-last-name {
  color: #c4c4c4;
  text-align: left;
  font: 400 12px "Inter";
  position: relative;
}

.frame-7 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.phone-number {
  color: #21334f;
  text-align: left;
  font: 400 12px "Inter";
  position: relative;
}

.enter-your-phone-number {
  color: #c4c4c4;
  text-align: left;
  font: 400 12px "Inter";
  position: relative;
}

.frame-8590 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.email {
  color: #21334f;
  text-align: left;
  font: 400 12px "Inter";
  position: relative;
}

.enter-your-email {
  color: #c4c4c4;
  text-align: left;
  font: 400 12px "Inter";
  position: relative;
}

.frame-3 {
  background: linear-gradient(
    92.1deg,
    rgba(222, 61, 109, 1) 0%,
    rgba(245, 132, 76, 1) 100%
  );
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 198px;
  height: 48px;
  position: relative;
}

.save {
  color: #ffffff;
  text-align: left;
  font: 600 12px "Inter";
  position: relative;
}

.navbar {
  background: #ffffff;
  width: 1440px;
  height: 96px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.rectangle-1 {
  background: #ffffff;
  width: 1440px;
  height: 96px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.frame-8591 {
  width: 91px;
  height: 36px;
  position: absolute;
  left: 1199px;
  top: 30px;
}

.frame-85902 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
}

.ellipse-25 {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.04),
    rgba(0, 0, 0, 0.04)
  );
  border-radius: 50%;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
}

.tunde {
  color: #012a4a;
  text-align: center;
  font: 400 16px "Inter";
  position: relative;
}

.frame-85892 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 150px;
  top: 13px;
}

.larkef-x-rareblocks-_-logo--31-12 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.airtime2cash2 {
  text-align: left;
  font: 600 32px "Inter";
  position: relative;
}

.airtime2cash2-span {
  color: #de3d6d;
  font: 600 32px "Inter";
}

.airtime2cash2-span2 {
  color: #f5844c;
  font: 600 32px "Inter";
} */
